.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-sizing: border-box;
    width: clamp(300px, 75%, 900px);
    padding: 16px;
    align-self: center;
}

.title {
    font-size: 32px;
}

.text {
    width: 100%;
    overflow-wrap: break-word;
}

.leaveComment {
    background-color: #0D0D0D;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: clamp(300px, 50%, 1200px);
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.comments {
    margin: 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 75%;
    box-sizing: border-box;
    gap: 8px;
}

.comments>li {
    list-style-type: none;
    padding: 8px;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
}

.cUsername {
    border-bottom: 2px solid var(--primary-darker);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.cUsername>button {
    padding: 5px;
}

.cUsername>button:hover {
    color: crimson;
}


.author:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.delete {
    position: absolute;
    width: 100vw;
    height: 100svh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete>.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
    padding: 16px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.wrapper>.exit {
    width: min-content;
    align-self: flex-end;
    padding: 8px;
}

.wrapper>.exit:hover {
    color: crimson;
}

.wrapper>form {
    display: flex;
    flex-direction: column;
    background-color: var(--test-color);
    gap: 8px;
}

.errors {
    align-self: center;
    color: crimson;
}

.blur {
    filter: blur(3px);
}

pre {
    text-wrap: wrap;
    overflow-wrap: break-word;
}