.tiptap {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.toolbar {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    padding: 8px;

}

code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
}

pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;


}

pre>code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
}